<.header>
  Listing Fruits
  <:actions>
    <.link patch={~p"/fruits/new"}>
      <.button>New Fruit</.button>
    </.link>
  </:actions>
</.header>

<.table id="fruits" rows={@streams.fruits}>
  <:col :let={{_id, fruit}} label="Name"><%= fruit.name %></:col>
  <:col :let={{_id, fruit}} label="Color"><%= fruit.color %></:col>
  <:col :let={{_id, fruit}} label="Quantity"><%= fruit.quantity %></:col>
  <:action :let={{_id, fruit}}>
    <%= case fruit.actions.edit do %>
      <% {:locked, reason} -> %>
          <.link class="text-gray-300 hover:cursor-not-allowed" title={reason}>Edit</.link>
      <% true -> %>
        <.link patch={~p"/fruits/#{fruit}/edit"}>Edit</.link>
    <% end %>
  </:action>
  <:action :let={{_id, fruit}}>
    <%= case fruit.actions.delete do %>
      <% {:locked, reason} -> %>
        <.link class="text-gray-300 hover:cursor-not-allowed" title={reason}>Delete</.link>
      <% true -> %>
        <.link
          phx-click={JS.push("delete", value: %{id: fruit.id})}
          data-confirm="Are you sure?"
        >
          Delete
        </.link>
    <% end %>
  </:action>
</.table>

<.modal
  :if={@live_action in [:new, :edit]}
  id="fruit-modal"
  show
  on_cancel={JS.navigate(~p"/fruits")}
>
  <.live_component
    module={SyncedActionsWeb.FruitLive.FormComponent}
    id={@fruit.id || :new}
    title={@page_title}
    action={@live_action}
    fruit={@fruit}
    current_user={@current_user}
    patch={~p"/fruits"}
  />
</.modal>
